<ul>
  <li><LinkTo @route="a">a</LinkTo></li>
  <li><LinkTo @route="a.b">a/b</LinkTo></li>
  <li><LinkTo @route="a.b.c">a/b/c</LinkTo></li>
</ul>

<ul>
  <li><LinkTo @route="x">x</LinkTo></li>
  <li><LinkTo @route="x.y">x/y</LinkTo></li>
  <li><LinkTo @route="x.y.z">x/y/z</LinkTo></li>
</ul>

